Code Style and Guidelines (General)
- Use functional and declarative patterns. Avoid using classes.
- Use hexagonal (ports and adapter) architecture for a clean code base.

Naming Conventions - TypeScript
- Use camelCase for variable names
- Use PascalCase for component names
- Use UPPERCASE for constants
- Use kebab-case for folder names (eg. src-ui)
- Use snake_case for file names

UI Styling
- Use carbon for ui components
- Use tailwind for styling and layout adjustments
- Implement responsive design using carbon grid system

Carbon Design System Guidelines
- When implementing a new modal, use the ModalProps interface from Carbon Design System to extend the props for the modal.
- Use carbon docs to find the best practices for using carbon
- Use carbon recommended colors, spacing, typography, icons, grid, layout, breakpoint, and theme systems

Make best developer experience and end user experience a priority.

Update cascade memories automatically whenever an architecture desision is made.

Make everything type safe whenever possible and utilize best practices for not repeating ourselves.
